<button mat-icon-button [routerLink]="['/admin']">
  <mat-icon>keyboard_backspace</mat-icon>
  <span>Nazad</span>
</button>
<mat-card>
    <mat-card-title>
        Obrisi model automobila
    </mat-card-title>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="deleteModel()" *ngIf="!isLoading" [formGroup]="form">
        <mat-form-field>
            <mat-select formControlName="brand" placeholder="Marka automobila" #brandSelect (selectionChange)="onChange(brandSelect.value)">
                <mat-option *ngFor="let brand of brands" [value]="brand">
                    {{brand}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('brand')?.invalid">
                Molim iazberite marku automobila.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="model" placeholder="Model automobila">
                <mat-option *ngFor="let model of models" [value]="model">
                    {{model}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('model')?.invalid">
                Molim izaberite model automobila.
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent" type="submit">Obrisi</button>
    </form>
</mat-card>